* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}
.wrapper {
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 26px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
h1 {
  color: brown;
  text-align: center;
  font-size: 40px;
}
p {
  text-align: left;
}
img {
  margin: 0 auto;
  width: 1000px;
  border: solid 2px black;
}
